extends layout.pug
block vars
    - var app = "IndexApp"
    //- var controller = "IndexController as app"
    //-  https://www.google.com/design/icons/
block content
    md-content
        br
        md-toolbar.md-tall
            div.md-toolbar-tools
                md-button.md-icon-button(aria-label="Settings") 
                    md-icon(md-font-library="material-icons") home
        



